/** 
    _inofix_portlets.scss: configure Inofix' portlets for the bibshare-theme

    Created:    2017-09-13 00:03 by Christian Berndt
    Modified:   2017-09-13 00:03 by Christian Berndt
    Version:    1.0.0
*/

.portlet-reference-editor {
    margin-bottom: 70px;
}