/** 
    _inofix_portlets.scss: configure Inofix' portlets for the bibshare-theme

    Created:    2017-09-13 00:03 by Christian Berndt
    Modified:   2017-10-12 18:22 by Christian Berndt
    Version:    1.0.4
*/

.portlet-bibliography-manager {
    
    margin-bottom: 20px;
    
    .table {
    
        > tbody {
        
            > tr {
            
                td:first-child {
                
                    padding-bottom: 20px;
                    padding-left: 0; 
                    padding-top: 15px;
                    
                    a {
                        &.bibliography-title {
                            font-size: 20px;
                            font-weight: 600;                
                        }
                    }
                    
                    .description {
                        margin: 5px 0 10px;
                    }
                    
                    .taglib-ratings {
                    
                        font-size: 12px;
                        margin-top: 15px;
                        
                        .liferay-rating-score {
                            .icon-star {
                                color: gold; 
                            }
                        }                     
                    }
                }
                
                &:nth-last-child(2) {
                    td {
                        box-shadow: none;
                    }  
                }
            }     
        }
        
        > thead {
            display: none;
        }                   
    }    
}

.portlet-reference-editor {
    margin-bottom: 20px;
}

.portlet-reference-manager {
    
    margin-bottom: 20px;
 
}
