/** 
    _inofix_portlets.scss: configure Inofix' portlets for the bibshare-theme

    Created:    2017-09-13 00:03 by Christian Berndt
    Modified:   2017-10-29 13:03 by Christian Berndt
    Version:    1.0.7
*/

.portlet-bibliography-manager {
    
    margin-bottom: 20px;
    
    .bibliography-head {
    
        padding-bottom: 0; 
    
        .btn {
        
            .icon-download {
            
                font-size: 16px;
                line-height: 20px;
                margin-right: 3px;
                vertical-align: middle;
            }
        }
    }
                
    .lfr-nav {
        &.nav-tabs {
            margin-top: 20px;
        }
    }

    .table {
    
        > tbody {
        
            > tr {
            
                td:first-child {
                
                    padding-bottom: 30px;
                    padding-left: 0; 
                    padding-top: 20px;
                    
                    a {
                        &.bibliography-title {
                            display: block;
                            font-size: 20px;
                            font-weight: 600; 
                            margin-bottom: 5px;             
                        }
                    }
                    
                    .compiled-by {
                        margin-bottom: 5px;
                    }
                                                               
                    .description {
                        margin-bottom: 5px;
                    }
                    
                    .taglib-ratings {
                    
                        font-size: 12px;
                        margin-top: 15px;
                        
                        .liferay-rating-score {
                            .icon-star {
                                color: gold; 
                            }
                        }                     
                    }
                }
                
                &:nth-last-child(2) {
                    td {
                        box-shadow: none;
                    }  
                }
            }     
        }
        
        > thead {
            display: none;
        }                   
    }    
}

.portlet-reference-editor {
    margin-bottom: 20px;
}

.portlet-reference-manager {
    
    margin-bottom: 20px;
 
}
