/** 
    _inofix_portlets.scss: configure Inofix' portlets for the bibshare-theme

    Created:    2017-09-13 00:03 by Christian Berndt
    Modified:   2017-09-18 10:53 by Christian Berndt
    Version:    1.0.2
*/

.portlet-bibliography-manager {
    
    margin-bottom: 20px;
    
    .table {
    
        > tbody tr td:first-child {
        
            padding-bottom: 20px;
            padding-left: 0; 
            padding-top: 15px;
            
            a {
                &.bibliography-title {
                    font-size: 20px;
                    font-weight: 600;                
                }
            }
            
            .description {
                margin: 5px 0 10px;
            }
            
            .taglib-ratings {
            
                font-size: 12px;
                margin-top: 15px;
                
                .liferay-rating-score {
                    .icon-star {
                        color: gold; 
                    }
                }                     
            }
        }
        
        > thead {
            display: none;
        }
    }
    
   
    .taglib-empty-result-message-header{
        display: none; 
    }
     
}

.portlet-reference-editor {
    margin-bottom: 20px;
}

.portlet-reference-manager {
    margin-bottom: 20px;
}