/** 
    _navigation.scss: bibshare theme navigation 

    Created:    2017-09-11 19:25 by Christian Berndt
    Modified:   2017-09-15 16:50 by Christian Berndt
    Version:    1.0.3
*/

@import "variables";

#navigation {
    
    background: #fff;
    border-radius: 0;
    color: $color-black; 
    font-size: 16px;
    margin-bottom: 0;
    text-align: center;
    
    .btn {
    
        border-width: 0;
        font-weight: 600;
        padding: 15px 5px;
        letter-spacing: normal;
        text-transform: none;
        
        &.btn-success {
            border-radius: 0;
            color: white;
        }
        
    }
    
    .container {
    
        padding-left: 0; 
        padding-right: 0; 
        
        > .navbar-header {
        
            margin-left: 0; 
            margin-right: 0; 
        }
    }
    
    .dropdown {
    
        a {
            display: inline-block;
            
            &:nth-child(1) {
                padding-right: 0; 
            }
            
            &:nth-child(2) {
                margin-left: -7px;
                padding-left: 7px; 
            }
        }
        
        .dropdown-menu {
        
            left: 0 !important; 
            right: auto !important; 
            
            li > a {
            
                display: block; 
                margin-right: 0; 
                padding: 5px 20px;
                
                &:hover {
                    background-color: $color-lightgray;
                    color: black;
                }
            }
        }
        
        &.active.open, 
        &.open {
            > a {
                background-color: $color-lightgray;
            }
        }
    }
    
    .lexicon-icon-search {
        margin-top: 6px;
    }
    
    .navbar-brand {
    
        color: #333;   
        padding-top: 12px; 
        padding-bottom: 12px;
    
        .brand-name {
            font-size: 18px;
            font-weight: 600; 
            letter-spacing: 0.1em;
            text-transform: uppercase;
            vertical-align: middle;
            
            .muted {
                color: lightgray;
                letter-spacing: normal;
                text-transform: none;
            }
        }
        
        > img {
            display: inline-block;
            height: 40px;
            margin-right: 10px         
        }      
            
        .icon-wrapper {
        
            background-color: $color-black; 
            border-radius: 4px;
            display: inline-block;
            margin-right: 8px;
            padding: 4px;
            vertical-align: middle;
            
            .icon {
                color: white;
                font-size: 22px;
                line-height: 1;
            }
        } 
    }
    
    .navbar-nav {
    
        letter-spacing: 0.15em;
        margin: 0;
        text-transform: uppercase; 
    
        > li {
        
            margin-left: -15px;
            margin-right: -15px;
            border-bottom: 1px solid $color-lightgray;
                
            > a {
                padding-bottom: 28px;
                padding-top: 28px;
            }
            
            &.active {
                        
                a {
                    background: transparent;
                    color: $color-black;
                }
            }
            
            &:nth-child(1) {
                display: none;
            }
        }
    }
    
    .navbar-toggle {
        border: 0;
        margin: 15px 6px 18px;
    }
    
    .portlet-language {
    
        .portlet {
            margin-bottom: 0; 
        }
    
        .portlet-content-editable {
            border-width: 0; 
        }
    
        .portlet-body {

            a {
            
                color: #777;
                
                &.dropdown-toggle {
                    cursor: pointer;    
                    display: inline-block;                            
                    padding-bottom: 25px;
                    padding-top: 27px; 
                }
            }
            
            .dropdown-menu {
            
                background-color: #fff; 
                border-top-right-radius: 0;
                border-top-left-radius: 0;
                margin-top: 0;
    
                min-width: 120px;
                
                li {
                
                    text-align: center;
                    
                    span {
                        display: block; 
                        padding: 3px 20px; 
                    } 
                    
                    > a {
                        padding: 5px;
                    }  
                }             
            }
            
            .dropdown-toggle {
            
                padding-left: 15px; 
                padding-right: 15px;
                
                &:nth-child(1) {
                    padding-right: 7.5px;           
                } 
                
                &:nth-child(2) {
                    margin-left: -7.5px; 
                    padding-left: 0;           
                } 
            }        
        
            > span {
                display: block; 
                
                &.open {
                    background-color: #eeeeee;
                }
            }
        }
    }
    
    .portlet-search {
    
        display: inline;
        
        .portlet-topper {
            margin-top: -20px;
        }
        
        .portlet {
        
            display: inline;
            
            .portlet-content {
            
                display: inline;
                
                .portlet-content-container {
                    
                    display: inline;
                    
                    .portlet-body {
                    
                        display: inline;
                        
                        form {
                        
                            display: inline;
                            
                            fieldset {
                                display: inline;     

                                &.input-container {
                                    padding-top: 16px;
                                }                         
                            }
                        }                        
                    }                    
                }
            }           
        }        
    }
    
}
