/** 
    _templates.scss: css config of bibshare's wc-templates

    Created:    2017-10-29 15:39 by Christian Berndt
    Modified:   2017-10-29 15:39 by Christian Berndt
    Version:    1.0.0
*/

@import "variables";

.article {
    
    h1 {
        font-weight: 600; 
    }
    
    h1, h2 {
        margin-bottom: 0.5em;
    }
}