/** 
    _variables.scss: common variables of the bibshare-theme

    Created:    2017-09-11 19:35 by Christian Berndt
    Modified:   2017-09-11 19:35 by Christian Berndt
    Version:    1.0.0
*/

/** ------------- colors ------------- */

$color-black: #333;
$color-lightgray: #eaeaea;
